atom-text-editor {
  div .highlight .snippet-tab-stop {
    background: @syntax-result-marker-color;
  }
}

div .snippets-indicator.active {
  display: inline-flex;
  background-color: @text-color-success;
  border-radius: 100%;
  width: @font-size * 0.6;
  height: @font-size * 0.6;
}

div .snippets-index {
  margin: 0px 4px 0px 8px;
}
