atom-text-editor {
  div .highlight .snippet-tab-stop {
    background: red;
    border: solid 1px green;
  }
}

div .snippets-indicator.active {
  display: inline-flex;
  background-color: red;
  border-radius: 100%;
  width: 5pt;
  height: 5pt;
}
